body {
    background-color: red;
    width: 100vw;
    height: 100vh;
}
#root{
    height: 100%;
    width: 100%;
}
.title {
    text-align: center;
}
.heading {
    margin-left: 2vw;
}

.formItems {
    width: 75vw;
    display: grid;
    grid-row-gap: 2vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.label {
    margin-left: 1vw;
    justify-self: right;
    height: 5vh;
    background-color: aqua;
    align-self: center;
    text-align: center;
    display: flex;
    align-items: center;
 
}

.input {
    margin-left: 0.5vw;
    height: 5vh;
    padding: 1vh;
    font-size: large;
}

.button-container {
    display: flex;
    justify-content: right;
    width: 75vw;
    margin-top: 2vh;
}
